* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Ubuntu'; 
    src: url('./fonts/Ubuntu-Regular.ttf') format('truetype'); 
    src: url('./fonts/Ubuntu-Bold.ttf') format('ttf');
    src: url('./fonts/Ubuntu-BoldItalic.ttf') format('ttf');
    src: url('./fonts/Ubuntu-Italic.ttf') format('ttf');
    src: url('./fonts/Ubuntu-Light.ttf') format('ttf');
    src: url('./fonts/Ubuntu-LightItalic.ttf') format('ttf');
    src: url('./fonts/Ubuntu-Medium.ttf') format('ttf');
    src: url('./fonts/Ubuntu-MediumItalic.ttf') format('ttf');
}

body {
    font-family: 'Ubuntu', sans-serif;
}


ul {
    list-style: none;
}